#gameScreen {
  width: 55%;
  border-radius: 1%;
  box-shadow: 1px 5px 8px #888888;
  margin-top: 4%;
}

p {
  font-size: 17px;
  color: rgb(94, 16, 16);
}

/* #borisGame {
  width: 100%;
  margin-top: 10%;
  border-radius: 1%;
  box-shadow: 1px 5px 8px #888888;
}  */

.button:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
  background-color:#fb9e25;
  text-decoration: none;
  outline:none !important;
  color: white; 
  transform: translate(0px, 5px);
}

#snoop {
  width: 80%;
}

.button:focus {
  outline:none !important;
}

#snoopHero {
  width: 40%;
  /* left: 50%; */
}

#food {
   width: 95px;
}
.button:active {
	position:relative;
	top:1px;
}

.home {
  margin-top: 5%;
  margin-bottom: 5%;
}
.about-images-container {
  margin-top: 4%;
  width: 60%;
  border-radius: 1%;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid white;
}


@media only screen and (max-width: 650px) {
  #borisGame {
    width: 85%; 
    box-shadow: 1px 5px 8px #888888;
    margin-top: 10%;
  }
}

.title {
  font-size: 40px;
  padding: 2.5%;
  right: 0px;
  left: 0px;
  top: 20%;
  background-color: white;
  border-radius: 2%;
  box-shadow: 1px 5px 8px #888888;
  color: #ff7149;
}

.header {
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-image: url("./assets/masks.jpg");
  padding: 2%;
}
